In [1]:
import pandas as pd 
example = {'Team':['Arsenal', 'Manchester United', 'Arsenal', 
				'Arsenal', 'Chelsea', 'Manchester United', 
				'Manchester United', 'Chelsea', 'Chelsea', 'Chelsea'], 
					
		'Player':['Ozil', 'Pogba', 'Lucas', 'Aubameyang', 
					'Hazard', 'Mata', 'Lukaku', 'Morata', 
										'Giroud', 'Kante'], 
										
		'Goals':[5, 3, 6, 4, 9, 2, 0, 5, 2, 3] }

In [2]:
df = pd.DataFrame(example) 
df

                Team      Player  Goals
0            Arsenal        Ozil      5
1  Manchester United       Pogba      3
2            Arsenal       Lucas      6
3            Arsenal  Aubameyang      4
4            Chelsea      Hazard      9
5  Manchester United        Mata      2
6  Manchester United      Lukaku      0
7            Chelsea      Morata      5
8            Chelsea      Giroud      2
9            Chelsea       Kante      3

In [6]:
total_goals = df['Goals'].groupby(df['Team']) 
print(total_goals.mean())

Team
Arsenal              5.000000
Chelsea              4.750000
Manchester United    1.666667
Name: Goals, dtype: float64